.at-grid-container {
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "as at-efef at-ggh at-sfdf at-ui at-pot at-uuu" "at-as at-yu at-yu at-yu at-nj at-uio at-uuu" "at-as at-dsd at-sas at-saas at-yuyu at-yuyu at-yuyu" "at-as at-sasa at-hj at-hj at-asasa at-kll at-kkl" "at-jk at-jk at-hj at-hj at-sasas at-kll at-ert" "at-jk at-jk at-po at-po at-sa at-kll at-rtty" "at-yui at-yui at-po at-po at-hjjh at-hjjh at-io" "at-yui at-yui at-s at-gtt at-ioo at-ioo io";
}

.at-hj {
  grid-area: at-hj;
}

.at-as {
  grid-area: at-as;
}

.at-yui {
  grid-area: at-yui;
}

.at-yu {
  grid-area: at-yu;
}

.at-kll {
  grid-area: at-kll;
}

.at-jk {
  grid-area: at-jk;
}

.at-po {
  grid-area: at-po;
}

.at-dsd {
  grid-area: at-dsd;
}

.at-efef {
  grid-area: at-efef;
}

.at-ggh {
  grid-area: at-ggh;
}

.at-sfdf {
  grid-area: at-sfdf;
}

.at-saas {
  grid-area: at-saas;
}

.at-sas {
  grid-area: at-sas;
}

.at-sasa {
  grid-area: at-sasa;
}

.at-asasa {
  grid-area: at-asasa;
}

.at-sasas {
  grid-area: at-sasas;
}

.at-sa {
  grid-area: at-sa;
}

.at-kkl {
  grid-area: at-kkl;
}

.at-ert {
  grid-area: at-ert;
}

.at-rtty {
  grid-area: at-rtty;
}

.at-s {
  grid-area: at-s;
}

.at-gtt {
  grid-area: at-gtt;
}

.at-uuu {
  grid-area: at-uuu;
}

.at-yuyu {
  grid-area: at-yuyu;
}

.at-ui {
  grid-area: at-ui;
}

.at-pot {
  grid-area: at-pot;
}

.at-nj {
  grid-area: at-nj;
}

.at-uio {
  grid-area: at-uio;
}

.at-io {
  grid-area: at-io;
}

.at-hjjh {
  grid-area: at-hjjh;
}

.at-ioo {
  grid-area: at-ioo;
}
