.at-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
  grid-template-areas: "gh at-gh at-yy at-yy at-fg at-fg" "at-u at-ui at-io at-io at-fg at-fg" "at-a at-ui at-uii at-ty at-ty ." "at-d at-ui at-uii at-ty at-ty ." "at-f at-g at-j at-l at-uio at-popy" "at-ff at-y at-pop at-pop at-h at-popy" "at-t at-uioo at-pop at-pop at-k lo";
}

.at-fg {
  grid-area: at-fg;
}

.at-gh {
  grid-area: at-gh;
}

.at-ui {
  grid-area: at-ui;
}

.at-io {
  grid-area: at-io;
}

.at-pop {
  grid-area: at-pop;
}

.at-popy {
  grid-area: at-popy;
}

.at-ty {
  grid-area: at-ty;
}

.at-uii {
  grid-area: at-uii;
}

.at-yy {
  grid-area: at-yy;
}

.at-u {
  grid-area: at-u;
}

.at-a {
  grid-area: at-a;
}

.at-d {
  grid-area: at-d;
}

.at-f {
  grid-area: at-f;
}

.at-g {
  grid-area: at-g;
}

.at-j {
  grid-area: at-j;
}

.at-l {
  grid-area: at-l;
}

.at-uio {
  grid-area: at-uio;
}

.at-h {
  grid-area: at-h;
}

.at-k {
  grid-area: at-k;
}

.at-lo {
  grid-area: at-lo;
}

.at-ff {
  grid-area: at-ff;
}

.at-t {
  grid-area: at-t;
}

.at-y {
  grid-area: at-y;
}

.at-uioo {
  grid-area: at-uioo;
}
