.bt-grid-container {
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "fg bt-err bt-err bt-ui bt-ui" "bt-er bt-err bt-err bt-ui bt-ui" "bt-er bt-sd bt-pp bt-pp bt-y" "bt-er bt-fgff bt-pp bt-pp bt-ikj" "bt-kk bt-fgf bt-fgf bt-o bt-ere" "bt-ty bt-fgf bt-fgf bt-i bt-ere" "bt-ty bt-tyr bt-yu bt-yu bt-ere" "bt-rt bt-vb bt-yu bt-yu bt-p" "bt-oo bt-oo bt-df bt-erre bt-erre" "bt-oo bt-oo bt-t bt-erre bt-erre" "bt-a bt-r bt-ioo bt-ioo bt-tyre" "bt-d bt-g bt-ioo bt-ioo j";
}

.bt-fg {
  grid-area: bt-fg;
}

.bt-ui {
  grid-area: bt-ui;
}

.bt-fgf {
  grid-area: bt-fgf;
}

.bt-yu {
  grid-area: bt-yu;
}

.bt-oo {
  grid-area: bt-oo;
}

.bt-ioo {
  grid-area: bt-ioo;
}

.bt-pp {
  grid-area: bt-pp;
}

.bt-er {
  grid-area: bt-er;
}

.bt-ty {
  grid-area: bt-ty;
}

.bt-err {
  grid-area: bt-err;
}

.bt-ere {
  grid-area: bt-ere;
}

.bt-erre {
  grid-area: bt-erre;
}

.bt-sd {
  grid-area: bt-sd;
}

.bt-fgff {
  grid-area: bt-fgff;
}

.bt-kk {
  grid-area: bt-kk;
}

.bt-tyr {
  grid-area: bt-tyr;
}

.bt-rt {
  grid-area: bt-rt;
}

.bt-vb {
  grid-area: bt-vb;
}

.bt-a {
  grid-area: bt-a;
}

.bt-d {
  grid-area: bt-d;
}

.bt-r {
  grid-area: bt-r;
}

.bt-g {
  grid-area: bt-g;
}

.bt-df {
  grid-area: bt-df;
}

.bt-t {
  grid-area: bt-t;
}

.bt-tyre {
  grid-area: bt-tyre;
}

.bt-j {
  grid-area: bt-j;
}

.bt-p {
  grid-area: bt-p;
}

.bt-o {
  grid-area: bt-o;
}

.bt-i {
  grid-area: bt-i;
}

.bt-y {
  grid-area: bt-y;
}

.bt-ikj {
  grid-area: bt-ikj;
}
