.parent-canvas {
  position: relative;
  width: 30%;
  height: 20%;
  margin: 10px auto 10px;
}

.tag {
  position: absolute;
  background-color: rgb(85, 80, 80);
  color: white;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  border-radius: 20px;
  padding: 10px;
  display: flex;
}

.tag h1 {
  margin: 0;
  font-family: "Cedarville Cursive", cursive;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.tag img {
  height: 20px;
  margin-left: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #8083c9;
  width: 50%;
  padding: 23px;
  margin: auto;
  margin-top: 5px;
  border-radius: 5px;
}

.message .text {
  margin: 0;
  text-align: center;
  font-family: "Chelsea Market", cursive;
  font-size: 1.2rem;
}

#download {
  justify-self: center;
  color: white;
  font-family: "Chelsea Market", cursive;
}

.btns {
  display: flex;
  justify-content: center;
}

.canvas {
  background-color: rgb(29, 28, 28);
}

@media only screen and (max-width: 500px) {
  .parent-canvas {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8083c9;
    width: 90%;
    padding: 13px;
    border-radius: 5px;
  }
  .message .text {
    font-size: 1rem;
  }
  .tag {
    padding: 5px;
  }
  .tag h1 {
    margin: 0;
    font-family: "Cedarville Cursive", cursive;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .tag img {
    height: 15px;
    margin-left: 7px;
  }
}
