@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap");

.right {
  margin-left: auto;
  width: 30%;
  margin-left: 0;
  font-family: "Jost", sans-serif;
  border: 1px solid grey;
}
.right h1 {
  background-color: #485460;
  padding: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  color: white;
}
.input-label {
  font-size: 17px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: rgb(54, 50, 50);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.input-block {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.input-block input {
  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  background-color: transparent;
  color: rgb(54, 50, 50);
}
input::-webkit-input-placeholder {
  color: rgb(54, 50, 50);

  opacity: 1;
}
input::-moz-placeholder {
  color: rgb(54, 50, 50);

  opacity: 1;
}
input:-ms-input-placeholder {
  color: rgb(54, 50, 50);

  opacity: 1;
}
input::-ms-input-placeholder {
  color: rgb(54, 50, 50);

  opacity: 1;
}
input::placeholder {
  color: rgb(54, 50, 50);

  opacity: 1;
}

.alert-primary {
  margin: 10px;
}

.back {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
}

@media only screen and (max-width: 500px) {
  .right {
    position: relative;
    width: 90%;
    margin-left: 0;
    margin: 20px;
    font-family: "Jost", sans-serif;
    border: 1px solid grey;
  }
  .right h1 {
    font-size: 1.4rem;
  }
  .input-label {
    font-size: 0.8rem;
  }
}
