.lt-grid-container {
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
  grid-template-areas: "b lt-xx lt-xx lt-e lt-f lt-ff lt-ff" "lt-a lt-c lt-d lt-jj lt-jj lt-ff lt-ff" "lt-hh lt-g lt-h lt-j lt-k lt-l lt-m" "lt-hh lt-sdsd lt-ss lt-ss lt-ss lt-o lt-n" "lt-sdsds lt-fff lt-ss lt-ss lt-ss lt-p lt-q" "lt-dsd lt-ccc lt-ddd lt-aa lt-s lt-r lt-ll" "lt-fdfff lt-kk lt-kk lt-z lt-dd lt-dd lt-ll" "lt-sdsdd lt-kk lt-kk lt-y lt-t lt-u lt-ll" "lt-yy lt-yy lt-yy lt-x lt-w lt-v ll";
}

.lt-ff {
  grid-area: lt-ff;
}

.lt-ss {
  grid-area: lt-ss;
}

.lt-kk {
  grid-area: lt-kk;
}

.lt-ll {
  grid-area: lt-ll;
}

.lt-xx {
  grid-area: lt-xx;
}

.lt-dd {
  grid-area: lt-dd;
}

.lt-hh {
  grid-area: lt-hh;
}

.lt-yy {
  grid-area: lt-yy;
}

.lt-jj {
  grid-area: lt-jj;
}

.lt-a {
  grid-area: lt-a;
}

.lt-b {
  grid-area: lt-b;
}

.lt-c {
  grid-area: lt-c;
}

.lt-d {
  grid-area: lt-d;
}

.lt-e {
  grid-area: lt-e;
}

.lt-f {
  grid-area: lt-f;
}

.lt-g {
  grid-area: lt-g;
}

.lt-h {
  grid-area: lt-h;
}

.lt-j {
  grid-area: lt-j;
}

.lt-k {
  grid-area: lt-k;
}

.lt-l {
  grid-area: lt-l;
}

.lt-m {
  grid-area: lt-m;
}

.lt-n {
  grid-area: lt-n;
}

.lt-o {
  grid-area: lt-o;
}

.lt-p {
  grid-area: lt-p;
}

.lt-q {
  grid-area: lt-q;
}

.lt-r {
  grid-area: lt-r;
}

.lt-s {
  grid-area: lt-s;
}

.lt-t {
  grid-area: lt-t;
}

.lt-u {
  grid-area: lt-u;
}

.lt-v {
  grid-area: lt-v;
}

.lt-w {
  grid-area: lt-w;
}

.lt-x {
  grid-area: lt-x;
}

.lt-y {
  grid-area: lt-y;
}

.lt-z {
  grid-area: lt-z;
}

.lt-aa {
  grid-area: lt-aa;
}

.lt-ddd {
  grid-area: lt-ddd;
}

.lt-ccc {
  grid-area: lt-ccc;
}

.lt-fff {
  grid-area: lt-fff;
}

.lt-sdsd {
  grid-area: lt-sdsd;
}

.lt-sdsds {
  grid-area: lt-sdsds;
}

.lt-dsd {
  grid-area: lt-dsd;
}

.lt-fdfff {
  grid-area: lt-fdfff;
}

.lt-sdsdd {
  grid-area: lt-sdsdd;
}

.gridinter {
  display: flex;
  flex-wrap: wrap;
}

.gridinter div div {
  border: 1px solid black;
  transition: all 0.5s ease-in-out;
}

.gridinter div div:hover {
  transform: scale(1.05);
}

.grid-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 500px) {
  .lt-grid-container,
  .bt-grid-container,
  .at-grid-container {
    width: 100% !important;
  }
}
